@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 30% 17%;
    --foreground: 0 0% 98%;
    --card: 215 28% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 215 30% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 215 25% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 16% 55%;
    --secondary-foreground: 215 30% 17%;
    --muted: 215 16% 45%;
    --muted-foreground: 215 16% 75%;
    --accent: 215 16% 65%;
    --accent-foreground: 215 30% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 30%;
    --input: 215 20% 30%;
    --ring: 215 16% 65%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
